
body{
    background-color: rgba(207, 16, 121, 0.056);
}
.container{
display: flex;
 flex-wrap: wrap ;
 justify-content:center;
}
h1{
     font-family: "Shadows Into Light", cursive;
    font-size:3em;
    font-weight: bold;
    border-bottom: 3px solid rgba(255, 0, 0, 0.274);
    border-right: 3px solid rgba(255, 0, 0, 0.274);
    width: 400px;
    text-align: center;
    box-shadow:4px 4px 5px rgb(29, 24, 24);
    margin: 0px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 255, 0.09);
}
img{
    width: 450px;
    height: 300px;
    margin:5px;
    transition: all 1s;
}
img:hover{
   transform: scale(0.8);
}
